<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/Jobs/161668018_787425701895707_1248826669299736938_n.jpg')">
        <div class="filter"></div>
       <div class="content-center" style="margin-top: 40%;">
           <div class="container">
                <h1 style="background-color: rgba(0,0,0,0.05); " class="presentation-subtitle text-center">We provide our professional services to improve your home and make your life easier. Whatever your needs you can get all in one place.
                    NEED REPAIR ?? MOVING ?? ASSEMBLING ?? CLEANING ?? 
                    Click on the service you need to get a free estimate.</h1>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
    </div>
    <div class="main">
      <app-service></app-service>

    </div>
</div>
