<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.creative-tim.com">Home needs and more</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/Home-Needs-More-110621987778179" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="feedback" data-placement="bottom"  href="https://www.google.com/search?client=safari&hl=en-us&output=search&q=Home+Needs+%26+more&ludocid=17370188555853550330&lsig=AB86z5W2Ep_-O_0EtcMwiic_LmdS&kgs=2add7e84449cc858&shndl=-1&source=sh/x/kp/local&entrypoint=sh/x/kp/local" >
                        <i class="fa fa-google-plus-square"></i>
                        <p class="d-lg-none">feedback</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Contact us" data-placement="bottom" href="#footer" >
                        <i class="fa  fa-phone-square"></i>
                        <p class="d-lg-none">Contact us</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
